<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27119695809-jj8ljb1j8uce54pcr2g2rem1t9kv2ip1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27119695809-jj8ljb1j8uce54pcr2g2rem1t9kv2ip1</string>
	<key>API_KEY</key>
	<string>AIzaSyAbF1YkrQQfPTZKexKG7GYdW6H_ywECAxo</string>
	<key>GCM_SENDER_ID</key>
	<string>27119695809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.padelClub</string>
	<key>PROJECT_ID</key>
	<string>padel-club-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>padel-club-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27119695809:ios:7a7c566168a5ffb048a140</string>
</dict>
</plist>